@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

:root {
    font-family: 'Fira Code', 'Noto Sans TC', monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    overflow-x: hidden;
    /*background-color: red;*/
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: hsla(0, 100%, 100%, 0);
    /*background: hsla(0, 0%, 0%, 0);*/
}

*::-webkit-scrollbar-thumb {
    background-color: hsla(10, 100%, 100%, 0.0);
    border-radius: 10px;
    /*border: 3px solid orange;*/
}
